body{
  position: relative;
}
.header{
  background-color: #811434;
  height: 56px;
  margin-top: 0;
  padding-top: 0;
  /* position: fixed; */
  position: relative;
}
@media only screen and (max-width: 600px){
  .header{
    height: fit-content;
  }
  .logo{
    margin-top: 0px !important;
  }
}

.navbar-toggler{
  background-color: #ffff;
} 
img{
  width: 30px;
  height: 30px;
}

.nav-link{
  color: #ffff !important;
  font-size: 16px;
  /* margin-top: 10px; */
  margin-top: -3px;
  font-weight: 700;
}
.logo{
  width: 135px !important;
  height: 20px !important;
  margin-top: -25px;
}
.form{
  height: 20px !important;
}
Button,input{
  height: 40px !important;
  border: none;  
}
Button{
  border-radius: 10px 0px 0px 10px !important;
}
input{
  width: 400px !important;
  border-radius: 0px 10px 10px 0px !important;
}
.search-bar{
  position: absolute;
  left: 400px;
}
